<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usjt.starke.starkesenhas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.GerarSenhaActivity" />
        <activity
            android:name=".controller.SplashscreenActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".controller.VisualizarSenhaGeradaActivity" />
        <activity android:name=".controller.ListarSenhaActivity" />
        <activity android:name=".controller.MenuTemporarioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>